<div>
<%= form_for :puppy, url: puppy_add_path do %>
  <div class="form-group">
    <label>Puppy's Name</label>
    <%= text_field(:puppy, :name, :class => 'form-control', :placeholder => 'Enter Name here') %>
  </div>

  <div class="form-group">
    <label>Puppy's Birthday</label>
    <%= text_field(:puppy, :dob, :type=> :date, :class => 'form-control datepicker') %>
  </div>

  <div class="form-group">
    <label>Puppy's Breed</label>
    <%= text_field(:puppy, :breed, :class => 'form-control', :placeholder => 'Enter Breed here') %>
  </div>

  <div class="form-group">
    <%= submit_tag('Add this puppy', :class => 'form-control btn btn-large btn-default')%>
  </div>
<% end %>
</div>
